{% extends 'base/base.html'%}
{% block content%}
    <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
    <div class="card-panel">
       <p class='green-text'>You can been sucessfully logout.</p>
       <h5 style="margin:3px;font-family:'Times New Roman'">Login as <a href="/user/login" class="btn blue" style="height: 24px;
line-height: 24px;
padding: 0 1rem;
text-transform: capitalize;font-size: 0.8rem;">Customer </a></h5>
       <h5 style="margin:3px;font-family:'Times New Roman'">Login as <a href="/manager/login1" class="btn blue" style="height: 24px;
line-height: 24px;
padding: 0 1rem;
text-transform: capitalize;font-size: 0.8rem;">Room Manager </a></h5>

    </div>
    </div>
    </div>
{%endblock%}