{% extends 'base/base.html'%}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Oregano&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Freckle+Face&display=swap" rel="stylesheet">

<div class="row">
    <div class="container">
        {% if data %}
    <h3 class="center" style="font-family: 'Oregano', cursive;margin-bottom:7%;margin-top:5%" >One more step to go...</h3>

        {% for  room in  data %}
           <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{{room.room_image.url}}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light green white-text" style="font-size:0.7rem">$ {{room.price}}</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
                       {{room.room_type}}
                    </span>
                </div>
              <div class="card-action green lighten-2 center">
              <a href="/book-now/{{room.room_no}}" class="white-text">Book Now</a>
            </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card-panel">
        <p class="center"><i class="material-icons large brown-text">sentiment_very_dissatisfied</i>
      <h3 style="

    font-family: 'Freckle Face', cursive;

"> Sorry No room available for the given days.</h3>
     <h4 style="font-family: 'Oregano', cursive;">   Select other days <a href="{% url 'index' %}" class="btn blue white-text" style="font-size:1.5rem">Here</a><h4>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}