{% extends 'base/base.html' %}
{%load static %}
{%block content%}

<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet"> 

<link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">


<div class="row" >
<div class="center">
<h4 class="greem-text" style="font-family: 'Pacifico', cursive;margin: 4rem 0 4% 0;font-size:4rem">Looking for a room! </h4>
<h4 class="green-text" style="font-family: 'Pacifico', cursive;margin: 0 0 4% 0;line-height: 25%;font-size:2.5rem">We have it ready for you...</h4>
</div>
 <div class="row">
    <div id="wrapper1" class="col s5 offset-s1 input-field">
      <input type="date" id="start1" class="datepicker-start" />
      <label for="start1" class="green-text text-lighten-2" style="font-size:1.4rem;font-family:'Times New Roman'">Start Date</label>
    </div>
    <div id="wrapper2" class="col s5 input-field">
      <input type="date" id="end1" class="datepicker-end"/>
      <label for="end1" class="green-text text-lighten-2" style="font-size:1.4rem;font-family:'Times New Roman'">End Date</label>
    </div>
<div class="center">
<a class="btn green darken-1" href="" style="padding: 25px;line-height:3px;font-family: 'Rye', cursive;text-transform:capitalize;font-size:0.9rem" id="show_me_rooms">Show me Rooms</a>
</div>
</div>
</div>
<div class="divider"></div>

<div class="row" style="margin-top:3%">
<div class="container">
    <h3 class="center" style="font-family: 'Gloria Hallelujah', cursive;margin-bottom:7%;margin-top:5%">Services at your Doorstep</h3>
<div class="col l2 m3 s4">
<div class="card-panel teal lighten-4">
<div class="center">
<i class="material-icons red-text small">local_airport</i><br>
Airport Pick and Drop
</div>
</div>
</div>
<div class="col l2 m3 s4">
<div class="card-panel teal lighten-4">
<div class="center">
<i class="material-icons red-text small">free_breakfast</i><br>
Free Breakfast
</div>
</div>
</div>
<div class="col l2 m3 s4">
<div class="card-panel teal lighten-4">
<div class="center">
<i class="material-icons red-text small">wifi</i><br>
Free High speed wifi
</div>
</div>
</div>
<div class="col l2 m3 s4">
<div class="card-panel teal lighten-4">
<div class="center">
<i class="material-icons red-text small">live_tv</i><br>
LED TV with Tata Sky
</div>
</div>
</div>
<div class="col l2 m3 s4">
<div class="card-panel teal lighten-4">
<div class="center">
<i class="material-icons red-text small">restaurant</i><br>
24&#10006;7 Local Restaurant
</div>
</div>
</div>
<div class="col l2 m3 s4">
<div class="card-panel teal lighten-4">
<div class="center">
<i class="material-icons red-text small">accessibility</i><br>
Free Gymnasium
</div>
</div>
</div>

</div>
</div>
<div class="row">
    <div class="container">
    <h3 class="center" style="font-family: 'Gloria Hallelujah', cursive;margin-bottom:7%;margin-top:5%">Room for Every Size & Need</h3>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'x11.jpg'%}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light dark-green white-text" style="font-size:0.8rem">$ 1000</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
                        Single Bed Room
                    </span>
                </div>
            </div>
            {% csrf_token %}
        </div>
             <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'x22.jpg'%}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light dark-green white-text" style="font-size:0.8rem">$ 1700</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
                        Double Bed Room
                    </span>
                </div>
            </div>
        </div>
             <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'x3.jpg'%}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light dark-green white-text" style="font-size:0.8rem">$ 1500</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
                       King-sized Bed Room
                    </span>
                </div>
            </div>
        </div>
          <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'x4.jpg'%}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light dark-green white-text" style="font-size:0.8rem">$ 2500</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
Room with View
                    </span>
                </div>
            </div>
        </div>
               <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'x55.jpg'%}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light dark-green white-text" style="font-size:0.8rem">$ 2000</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
                      Double room with tables
                    </span>
                </div>
            </div>
        </div>
               <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'x6.jpg'%}" alt="">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light dark-green white-text" style="font-size:0.8rem">$ 5000</a>
                </div>
                <div class="card-content">
                    <span class="card-title brown-text">
                      Sea facing rooms
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
// Accept datepicker-start or datepicker-end, as we need to initialize both anyway.
$("input[class*='datepicker-']").pickadate({
  selectMonths: false,
  selectYears: 1,
  format: 'dd/mmm/yyyy',
  onSet: function(obj){
    let thisPicker = $(this)[0].$node;

    // Check if this is the start date
    let classes = thisPicker.attr("class");
    if (classes === undefined || classes.length === 0 || classes.indexOf("datepicker-start") < 0){
      return;
    }

    // .datepicker-start must be wrapped in a div.input-field element (in this example), and
    // .datepicker-end must be in the next div.input-field.  Change selectors for your conditions.
    let parent1 = thisPicker.closest("div.input-field");    // This picker's parent
    let parent2 = parent1.next("div.input-field");          // Next picker's parent
    let picker2 = parent2.find(".datepicker-end");          // Matching 'end' picker
    
    // Set end picker minimum date, or whatever you need.
    if(obj.select){
      let dt = new Date(obj.select);
      picker2.pickadate('picker').set('min', dt);
    }
    if(obj.hasOwnProperty('clear')){
      picker2.pickadate('picker').set('min', false);
    }
  }
});
</script>
<script>
const room_btn=document.getElementById("show_me_rooms")
room_btn.addEventListener("click",(e)=>
{
e.preventDefault()
startDate=$('.datepicker-start').val();
endDate=$('.datepicker-end').val();
//d = new Date(endDate);    
sd=new Date(startDate)
td=new Date()
if (sd<td || startDate.length==0 || endDate.length==0)
{
alert("Please choose a valid date")
}
else
{
     var form = document.createElement("form");
    var element1 = document.createElement("input"); 
    var element2 = document.createElement("input");  
    var element3= document.createElement("input");  

    form.method = "POST";
    form.action = "/book";   
    
    element1.name="start_date";
    element1.type="text"
    element1.value=startDate;
    form.appendChild(element1);  

 element2.name="end_date";
    element2.type="text"
   element2.value=endDate;
    form.appendChild(element2);  
     element3.value='{{csrf_token}}';
    element3.name="csrfmiddlewaretoken";
    element3.type="hidden"
    form.appendChild(element3);  
    document.body.appendChild(form);
   form.submit(); 
}
})
</script>
{% endblock %}